h1 {
    color: rgb(250, 250, 250);
    position: absolute;
    top : 70px;
    left: 20px;
    font-style: italic ;

}
h2 {
    position: absolute;
    top: 100px;
    left: 40px;
    font-size: 50px;
    color: aliceblue;
}
.text {
    position: relative;
    border-right: red 5px;
}     
text.image/proj.jpg {
    position: relative;
    width: 0px
}
}
text.h1 {
    position: relative;
    color: aqua

}
.container { 
    position: relative;
    top: 0px
    

    
}
body {
    background-color: rgb(238, 30, 169);
    size: 100%;
}
.inner {
    position: static;
}
em {
    color: blue;
    position: static;
    top : 70px;
    left : 20px;
}
p {
    position: absolute;
    top: 240px;
    left: 40px;
    font-size: 50px;
    color: aliceblue; 

}
.example {
    position: fixed;
    top: 290px;
    left: 40px;
    font-size: 35px;
    color: aliceblue;
}