.text {
    position: absolute;
    padding: px
}     
.text.image {
    width: 0px;
}
}
h1 {
    position: relative;

}
.container { 
    position: relative;
    size: 50%
    padding: red 0px

    
}
body {
    background-color: rgb(192, 78, 154);
    width: 100%;
    height: 200%;
    position : relative;
}
.inner {
    position: relative;
}